<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../estilos/eventos.css" rel="stylesheet">
    <link href="../estilos/eventoDetail.css" rel="stylesheet">
    <title>Becarixs</title>
    </head>
   <%- include('../header'); %>
    <body>
        <div class="blog-home2 py-5" id="main-body">
        <% if(user){ %>
            <%if(user.position == "admin"){ %>
                <%- include('../menuAdmin'); %>
        <% }} %> 

            <div class="container">
                <!-- Row  -->
                <div class="row justify-content-center">
            <!-- Column -->
                    <div class="col-md-8 text-center">
                        <h3 class="my-3">Becarixs</h3>
                    </div class="">
                    <table class="table align-middle mb-0 bg-white">
                        <thead class="bg-light">
                            <tr>
                                <th>Nombre</th>
                                <th>Fecha creación</th>
                                <th class="checkbox">
                                    <button type="button" class="btn btn-outline-primary" onclick='checkAll()'  >Select All</button>
                                    <button type="button" class="btn btn-outline-secondary" onclick="uncheckAll()">Clear</button>   
                                </th>    
                                <th></th>         
                            </tr>
                        </thead>
                        <tbody>
                            <% if(becarixs) {%> 
                            <% for (let i = 0; i < becarixs.length; i++ ){ %>
                                <tr>      
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img
                                                src="<%= becarixs[i].image ? becarixs[i].image : '/imagenes/profile-default.jpg' %>"
                                                alt=""
                                                style="width: 45px; height: 45px"
                                                class="rounded-circle"
                                                />
                                            <div class="ms-3">
                                                <p class="fw-bold mb-1"><%= becarixs[i].displayName %></p>
                                                <p class="text-muted mb-0"><%= becarixs[i].email %></p>
                                            </div>
                                        </div>
                                    </td>
                                    <td> <%= becarixs[i].createdAt.toLocaleDateString(undefined, {timeZone: 'UTC', dateStyle: 'long'}) %>  </td>
                                    <td class="checkbox" >
                                        <div>
                                            <input type="checkbox" name='becario' class="checkbox" value="">
                                        </div>
                                    </td>
                                    <td>
                                            <button class="btn btn-danger btn-sm rounded-0" type="button"  title="Delete" data-bs-toggle="modal"
                                            data-bs-target="#"><i class="fa fa-trash" ></i></button>
                                    </td>
                                </tr>
                            <%} }%>
                        </tbody>
                     </table> 
                </div>
            </div> 
        </div>  
        <script>
            function checkAll(){   
                var items = document.getElementsByName('becario');
                for (var i = 0; i < items.length; i++) {
                    if (items[i].type == 'checkbox')
                        items[i].checked = true;
                }
            }

            function uncheckAll(){
                var items = document.getElementsByName('becario');
                for (var i = 0; i < items.length; i++) {
                    if (items[i].type == 'checkbox')
                        items[i].checked = false;
                }
            }

            document.querySelector('#correos-participantes').addEventListener('submit', function(e) {
                // para que no se vuelva a cargar la página
                e.preventDefault();
                // target trae el form
                const emails = new Array()
                const data = new FormData(e.target);
                for (const entry of data.entries())
                    emails.push(entry[1])
                document.getElementById('emailUser').value = emails
            })

        </script>
    </body>
</html>