<div class="col-md-4 on-hover">
	<div class="card border-0 mb-4">
		<div class="card shadow">
			<div class="card-body text-center">
				<a href="#">
					<a href="#"><img class="card-img-top" style="width:auto; height:35vh;" src="/conferencias/img/<%= conferencias.imageConferencia ? conferencias.imageConferencia: 'th-3339243262' %>"
							alt="wrappixel kit"></a>
				</a>
				<ul class="list-inline mt-3">
					<li class="list-inline-item"><i class="fas fa-user"></i>
						<%= conferencias.nombre %>
					</li>
					<li class="list-inline-item"><i class="far fa-clock"></i>
						<%= conferencias.fecha.toString().split(" ")[1] %></li>
							</ul>
							<hr>
							<p class=" lead">
							<%= conferencias.descripcion.substring(0,50)+"..." %>
								</p>
								<a class="btn btn-outline-primary my-2"
									href="/conferencias/<%= conferencias.nombre %>" role="button">Leer
									más...</a>
			</div>
		</div>
	</div>
</div>