<!-- Column -->
<div class="col-md-4 on-hover">
<div class="card border-0 mb-4">
    <a href="#"><img class="card-img-top" src="/eventos/img/<%= evento.imageEvent ? evento.imageEvent: 'th-3339243262' %>"  alt="wrappixel kit"></a>
    <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute"><%= evento.dateEvent.toString().split(" ")[1] %>
        <span class="d-block"><%= evento.dateEvent.toString().split(" ")[2] %></span></div>
    <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link"><%= evento.nameEvent %></a></h5>
    <p class="mt-3"><%= evento.descriptionEvent.substring(0,50)+"..." %></p>
    <a href="/eventos/evento" class="text-decoration-none linking text-themecolor mt-2">Saber más</a>
</div>
</div>