<div class="modal" id="deleteMemberModal-<%= member._id.toString() %>" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">¿Desea borrar al participante?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <% if(member.position) { %> 
            <div class="modal-body">
                <p>Nombre: <%= member.displayName %> </p>
                <p>Id: <%= member._id %></p>
                <p>Correo:  <%= member.email %></p>
            </div>
                
            <%} else{ %> 
            <div class="modal-body">
                <p>Nombre: <%= member.nameUser %> </p>
                <p>Id: <%= member._id %></p>
                <p>Correo:  <%= member.emailUser %></p>
            </div>
            <%} %>
            
            <div class="modal-footer">
                <form></form>
                <form action="/eventos/deleteParticipante" method="POST">
                    <div  class="visually-hidden">
                        <input type="text" name="memberPosition" value="<%= member.position ? member.position : "anonimo" %>">
                        <input type="text" name="idEvent" value="<%= evento._id %>">
                     </div>
                    <button type="submit" name="memberId" class="btn btn-primary" value="<%= member._id %>" >Borrar participante</button>
                </form>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
