
   
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../estilos/eventos.css" rel="stylesheet">
    <link href="../estilos/eventoDetail.css" rel="stylesheet">
    <title>Evento</title>
  </head>
  <%- include('../header'); %>
  <body>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"><div class="pd-wrap">
            <div class="container">
                <div class="heading-section">
                    <h2><%= evento.nameEvent %> </h2>
                </div>
                <div class="row">
                    <div class="col-sm" >
                        <img src="/eventos/img/<%= evento.imageEvent ? evento.imageEvent: 'th-3339243262' %>" style="width: 70%; height:90%"  >
                     
                    </div>

                    <div class="col-md-6">
                        <div class="product-dtl">
                           
                            <!-- <p>Acompáñanos en nuestra tarde de películas donde se estará transmitiendo la película de Marie Curie.</p> -->
                            <p>Fecha: <%= evento.dateEvent.toLocaleDateString(undefined, {timeZone: 'UTC', dateStyle: 'long'}) %> </p>
                            <p>Horario: <%=evento.timeEvent %> hrs</p>
                            <% if(evento.nameSpeaker){ %><p>Conferencista: <%=evento.nameSpeaker %></p> <% } %> 
                            <p>Lugar: <%=evento.placeEvent %></p>
                            <p>Contacto: <%=evento.contactEvent %></p>
                            <%- include('./registro/registroAlerts'); %> 
                           <% if(user) {%>
                                <%- include('./registro/registroMember'); %>
                                <% } else{ %> 
                                    <button type="button" class="round-black-btn" data-bs-toggle="modal" data-bs-target="#registroUserModal" >Regístrate</button>
                                     <%- include('./registro/registroUserModal'); %>
                                <% } %>  
                        </div>
                    </div>
                </div>
                <div class="product-info-tabs">
                

                    <div class="d-flex justify-content-between align-items-center review-tab" id="event-tab">
                        <ul class="nav nav-tabs" id="eventTab" role="tablist">
                            <li class="nav-item  description_tab" id="tab-title-description">
                            <a class="nav-link show active" href="#tab-description" data-bs-toggle="tab" role="tab" aria-controls="tab-description">
                                Descripción         </a>
                            </li>
                            <% if(user) {%> 
                                <% if (user.position == "admin") {%>
                                    
                                    <li class="nav-item  creator_tab" id="tab-title-reviews">
                                            <a class="nav-link " href="#tab-creator-details" data-bs-toggle="tab" role="tab" aria-controls="tab-reviews">
                                            Detalles de publicación        </a>
                                     </li>
                                     <li class="nav-item  creator_tab" id="tab-title-reviews">
                                            <a class="nav-link " href="#tab-participantes" data-bs-toggle="tab" role="tab" aria-controls="tab-reviews">
                                            Participantes        </a>
                                     </li>
                                     <li class="nav-item  creator_tab" id="tab-title-reviews">
                                            <a class="nav-link " href="#tab-estadisticas" data-bs-toggle="tab" role="tab" aria-controls="tab-reviews">
                                            Estadísticas       </a>
                                     </li>
                                    <%}}%>
                        </ul>
                    </div>
                        <div class="tab-content px-0" id="tab-content">
                            <div class="tab-pane  pt-4 fade show active woocommerce-Tabs-panel--description" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">
                                <p><%=evento.descriptionEvent %></p>
                        </div>
                        <div class="tab-pane  pt-4 fade  woocommerce-Tabs-panel--reviews" id="tab-creator-details" role="tabpanel" aria-labelledby="tab-title-reviews">
                                <p>Evento creado por: <%=evento.creatorName %></p>
                                <p>ID del creador: <%=evento.creatorId %></p>
                                <% if(evento.updatedByName) {%> 
                                    <p>Evento actualizado por: <%=evento.updatedByName %></p>
                                    <p>ID del actualizador: <%=evento.updatedById %></p>
                                    <% } %>  
                        </div>

                        <div class="tab-pane pt-4 fade  woocommerce-Tabs-panel--reviews" id="tab-participantes" role="tabpanel" > 
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#correoModal" form="correos-participantes" >Enviar correo</button>

                            </div>
                               
                                <%- include('correoModal'); %>
                         
                            <br>
                             <form id="correos-participantes">

                                 <table class="table align-middle mb-0 bg-white">
                                    <thead class="bg-light">
                                        <tr>
                                        <th>Nombre</th>
                                        <th>Posición</th>
                                        <th class="checkbox">
                                           
                                            <button type="button" class="btn btn-outline-primary" onclick='checkAll()'  >Select All</button>
                                            <button type="button" class="btn btn-outline-secondary" onclick="uncheckAll()">Clear</button>
                            
                                            <script>
                                                function checkAll(){
                                                    
                                                var items = document.getElementsByName('participante');
                                                    for (var i = 0; i < items.length; i++) {
                                                        if (items[i].type == 'checkbox')
                                                            items[i].checked = true;
                                                    }
                                                }

                                                 function uncheckAll(){
                                                    var items = document.getElementsByName('participante');
                                                    for (var i = 0; i < items.length; i++) {
                                                        if (items[i].type == 'checkbox')
                                                            items[i].checked = false;
                                                    }
                                                }

                                                document.querySelector('#correos-participantes').addEventListener('submit', function(e) {
                                                    // para que no se vuelva a cargar la página
                                                    e.preventDefault();
                                                    // target trae el form
                                                    const emails = new Array()
                                                    const data = new FormData(e.target);
                                                    for (const entry of data.entries())
                                                        emails.push(entry[1])
                                                    document.getElementById('emailUser').value = emails
                                                })

                                            </script>
                                           
                                        </th>
                                        
                                        <th></th>
                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                         <% if(members) {%> 
                                            <% for (let i = 0; i < members.length; i++ ){ %>
                                                <tr>
                                                    

                                                         
                                                <td>
                                                   
                                                    <div class="d-flex align-items-center">
                                                

                                                    <img
                                                    
                                                        src="<%= members[i].image ? members[i].image : '/imagenes/profile-default.jpg' %>"
                                                        alt=""
                                                        style="width: 45px; height: 45px"
                                                        class="rounded-circle"
                                                        />
                                                    <div class="ms-3">
                                                        <p class="fw-bold mb-1"><%= members[i].displayName %></p>
                                                        <p class="text-muted mb-0"><%= members[i].email %></p>
                                                    </div>
                                                    </div>
                                                </td>

                                                <td> <%= members[i].position %>  </td>
                                                 <td class="checkbox" >
                                                        <div  >
                                                            <input type="checkbox" name='participante' class="checkbox" value="<%= members[i].email %>">
                                                        </div>
                                                        
                                                 </td>
                                                <td>
                                                        <button class="btn btn-danger btn-sm rounded-0" type="button"  title="Delete" data-bs-toggle="modal"
                                                        data-bs-target="#deleteMemberModal-<%= members[i]._id.toString() %>"><i class="fa fa-trash" ></i></button>
                                                          <%- include('deleteMemberModal',{member: members[i]}); %>
                                                    
                                                </td>
                                               
                                                </tr>

                                                <%} }%>
                                                <% if(users ) {%> 
                                        
                                                <% for (let i = 0; i < users.length; i++ ){ %>
                                                <tr>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                

                                                    <img
                                                    
                                                        src="<%='/imagenes/profile-default.jpg' %>"
                                                        alt=""
                                                        style="width: 45px; height: 45px"
                                                        class="rounded-circle"
                                                        />
                                                    <div class="ms-3">
                                                        <p class="fw-bold mb-1"><%= users[i].nameUser %></p>
                                                        <p class="text-muted mb-0"><%= users[i].emailUser %></p>
                                                    </div>
                                                    </div>
                                                </td>

                                                <td> Anónimo </td>
                                                 <td class="checkbox">
                                                        <div  >
                                                            <input type="checkbox" name='participante' class="checkbox" value="<%= users[i].emailUser %>" >
                                                        </div>
                                                        
                                                 </td>
                                                <td> 
                                                    <button class="btn btn-danger btn-sm rounded-0" type="button"  title="Delete" data-bs-toggle="modal"
                                                        data-bs-target="#deleteMemberModal-<%= users[i]._id.toString() %>"><i class="fa fa-trash" ></i></button>
                                                          <%- include('deleteMemberModal',{member: users[i]}); %>
                                                    
                                                </td>
                                                </tr>

                                                <%} }%>

                                    </tbody>
                                    </table> 

                            </form>
                            
                            
                        </div>
                        <div class="tab-pane  pt-4 fade  woocommerce-Tabs-panel--reviews" id="tab-estadisticas" role="tabpanel">
                            <div id="myPlot" style="width:100%;max-width:700px"></div>

                        <script>
                            var xArray = ["Miembrxs", "Usuarixs", "Becarixs", "Admin"];
                             const count = {}                        
                            for(const participant of JSON.parse('<%- JSON.stringify(members) %>')){
                                if(count[participant.position]){
                                    count[participant.position] += 1
                                }else{
                                    count[participant.position] = 1
                                }
                            }
                        
                            var yArray = [count.member ? count.member : 0,JSON.parse('<%- JSON.stringify(users) %>').length , count.becario ? count.becario : 0, count.admin ? count.admin : 0];
                            var data = [{
                            x:xArray,
                            y:yArray,
                            type:"bar"
                            }];

                            var layout = {title:`Participantes registrados`};

                            Plotly.newPlot("myPlot", data, layout);

                            
                        </script>
                        
                        <h5>Total: <% let count = 0; count += members ? members.length : 0; count += users ? users.length : 0;%> <%= count%> participantes</h5>

                        </div>


                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

 
    </body>
</html>